/* .nav-bar {} Needs to show nav-bar always on the left and displayed/fixed only on desktops and laptops (can adjust for media) */

/* Colors - #7fc8f8 (Light Blue), #3c3c3c (Oynx), #e55934 (Orange)

/* Need to have at least one media query */

* {
    box-sizing: border-box;
}

nav {
    display: block;
}

nav header {
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 15px;
    text-align: left;
    margin-left: 4px;
    color: white;
    font-weight: 700;
    text-decoration: underline;
}

nav ul {
    list-style: none;
    text-align: left;
    margin-left: -35px;
}

nav li {
    margin-bottom: 40px;
    font-size: 20px;
    width: 100%;
    border-width: 100%;
}

nav a {
    text-decoration: none;
    color: #3c3c3c;
    font-weight: 600;
    margin: 0 auto;
}

nav a:hover {
    color: #e55934;
    background-color: #3c3c3c;
    padding: 5px;
    border-radius: 5px;
}

#navbar {
    position: fixed;
    height: 100%;
    width: 300px;
    min-width: 280px;
    top: 0;
    left: 0;
    border-right: 3px solid white;
    background-color: #e55934;
}

body {
    background-color: #3c3c3c;
}

#main-doc {
    position: absolute;
    margin-left: 320px;
    padding-right: 10px;
    margin-top: 20px;
    color: white;
}

.main-section {
    margin-bottom: 50px;
}

.youtube {
    color: #e55934;
}

main header {
    font-size: 25px;
    text-decoration: underline;
}

p {
    font-size: 19px;
}

li {
    font-size: 17px;
}

#finished {
    margin-bottom: 40px;
    margin-top: 40px;
    text-decoration: underline;
}